{% extends "layout.html" %}
{% block body %}
<h2>¿How to contribute?</h2>
<blockquote>
Have you a good idea for improving any grampusteam project? Have a look to our projects into our repositories in <a href="https://github.com/grampusteam">Github</a> and <a href="https://bitbucket.org/grampusteam">Bitbucket</a> (We're migrating to <a href="http://github.com/">Github</a>) and create a new ticket or fork, we will read it as soon as possible.
And of course, THX for contributing to our project! (love coding)
</blockquote>
{% endblock %}
