{% extends "layout.html" %}
{% block body %}
<h2>¿How to contribute?</h2>
<blockquote>
Have you a good idea for improving any grampusteam project? Have a look to our projects into our repositories in <a href="https://github.com/grampusteam">Github</a> and <a href="https://bitbucket.org/grampusteam">Bitbucket</a> (We're migrating to <a href="http://github.com/">Github</a>) and create a new ticket or fork, we will read it as soon as possible.
And of course, THX for contributing to our project! (love coding)
</blockquote>

<h2>Donations (?)</h2>
<blockquote>
We do it for free, but may be you can donate us something, we are accepting bitcoins (BTC).
Our BTC address: <b>193Pce6ywhkdXJG19Zz4CFgHatCYH8U6wU</b>
</blockquote>
<br>
<img src="{{ url_for('static', filename='barcode.png') }}"/>
<br>
<blockquote><b>Thanks alot dear contributor</b></blockquote>
{% endblock %}
