<!DOCTYPE html>
	<head>
		<title>Welcome to GrampusTeam site</title>
		<meta charset=utf-8>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</head>
	
	<div class="box">
		<center>
			<img src="http://1.bp.blogspot.com/-I7V0zzA0gI0/Ud8XQqNeSEI/AAAAAAAAALE/zc_t1xf_0eY/s400/b987f767ce823cf187cd44ddd7d4123e.png" />
		</center>
				
		<p class=nav>
			<a href="#">Home</a> //
			<a href="#">Blog</a> //
			<a href="#">Projects</a> //
			<a href="#">Services</a> //
			<a href="#">The Team</a> //
			<a href="#">Sponsors</a>
		</p>
		
		<table>
			<tr>
				<td>Group of young coders and security enthusiasts. Not money brah, our projects are <a href="https://github.com/GrampusTeam/Grampus/blob/master/LICENSE">BSD licensed</a>!</td>
			</tr>
		</table>
		
		<br>
		<footer>
		&copy; Copyright 2014 by <a href=mailto:grampusteam@gmail.com>Grampus Team</a> Follow us on <a href=https://twitter.com/grampusteam>Twitter</a>
		</footer>
		
		
	</div>
</html>
