<!DOCTYPE html>
	<head>
		<title>Welcome to GrampusTeam site</title>
		<meta charset=utf-8>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</head>
	<div class="box">
		<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
		src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
		<center>
			<a href="/" target="new"><img src="{{ url_for('static', filename='grampus2.png') }}" />
		</center>
			
		<p class=nav>
			<a href="/">Home</a> //
			<a href="blog">Blog</a> //
			<a href="projects">Projects</a> //
			<a href="services">Services</a> //
			<a href="documentation">Documentation</a> //
			<a href="contribute">Contribute</a> //
			<a href="security">Security</a> //
			<a href="hof">Hall of Fame</a> //
			<a href="team">The Team</a> //
			<a href="sponsors">Sponsors</a>
		</p>
		
		{% block body %}
		{% endblock %}
		
		<br>
		<footer>
		&copy; Copyright 2014 by <a href=mailto:grampusteam@gmail.com>Grampus Team</a> Follow us on <a href=https://twitter.com/grampusteam>Twitter</a>
		</footer>
		
	</div>
</html>
