{% extends "layout.html" %}
{% block body %}
<table>
	<tr>
		<td>
		These are our current projects, have a look to our codes and enjoy reading, writing and testing it.
		If you liked them, share it!, you would make us a favour!
		</td>
	</tr>
</table>
<ul>
	<li><a href="https://github.com/GrampusTeam/Grampus">Grampus</a></li>
	<blockquote>
	Grampus is a tool dedicated to forensic analysts and It can be used to extract/analize and edit/delete metadata from office documents, Open office documents, pdf's, aplications, images, audio/video files, compressed files, etc.
	</blockquote>
	<br>
	<li onClick='alert("Still under construction")'><a href="#">Grampus online</a> (Under construction)</li>
	<blockquote>
	It's an online version of Grampus, enjoy with metadata where you want
	</blockquote>
	<br>
	<li onClick='alert("Still under construction")'><a href="#">Grampus mobile</a> (Under construction)</li>
	<blockquote>
	It's a mobile version of Grampus (for Android at the moment), enjoy with metadata where you want
	</blockquote>
	<br>
	<li><a href="https://bitbucket.org/grampusteam/cleanbox">Cleanbox</a> (Under construction)</li>
	<blockquote>
	Cleanbox is a tool dedicated to normal users that prevents the loss of sensitive information in dropbox (using dropbox api)
	</blockquote>
</ul>
{% endblock %}
