{% extends "layout.html" %}
{% block body %}
<table>
	<tr>
		<td>We are supporters of responsive disclosure, so if you discover a security vulnerability, we will be waiting to hear you.
			By reporting security issues you are helping and contributing us.
		</td>
	</tr>
</table>

<h2>Steps to a nice report:</h2>
<blockquote>
Please, would be better for us that you could follow a few steps to reporting us an issue.
</blockquote>

<h3>Describing the issue</h3>
<blockquote>
Describe us the vulnerability, type of vulnerability, how can affect us and how we can reproduce it
</blockquote>

<h3>Media content</h3>
<blockquote>
You should record a video reproducing the issue and in the future if we have any problem surely we ask you about the "media content" to resolve the problem
</blockquote>

<h3>Where have you to send the report</h3>
<blockquote>
To facilitate our issues reading, send us the report to securitygrampus@gmail.com
</blockquote>

<h3>Examples of accepted vulnerabilities</h3>
<ul>
	<li>Cross-Site Scripting (XSS)</li>
	<li>Cross-Site Request Forgery (CSRF/XSRF)</li>
	<li>Remote Code Execution</li>
	<li>Privilege Escalation</li>
	<li>Similars....</li>
</ul>

<h3>Not valid vulnerabilities</h3>
<ul>
	<li>Denial of Service Vulnerabilities</li>
	<li>False alerts (Honey traps :P)</li>
	<li>Spam or Social Engineering techniques</li>
</ul>

<h2>Rewards</h2>
<blockquote>
We will reward you from 100$ to 2500$, okno, <b>we were joking</b>, we are students and we have no money, so we will reward you writting your personal info into our Hall of Fame (by the moment, may be in the future we could reward you with any type of swag and we would love rewarding you for your report)
</blockquote>
{% endblock %}

