{% extends "layout.html" %}
{% block body %}
<table>
	<tr>
		<td>
		The Free Software World don't give us food to eat, so have a look to our services.
		</td>
	</tr>
</table>
<blockquote>
We have a lot of humor sense, but we are very professionals too, so if you need some of our offered services, you can contact us clicking on "Grampus Team" (into the footer) or sending us an email to <a href="mailto:grampusteam@gmail.com">grampusteam@gmail.com</a>
</blockquote>
<br>
<ul>
	<li><a href="#">Pentesting services</a></li>
	<blockquote>
We love doing penetration testing and we have very nice references, we have reported a lot of "nice" bugs in important websites.
	</blockquote>
	<br>
	<blockquote>
Try our services and if you think that we are good workers, share our website with the world!
	</blockquote>
	
	<br>
	<li><a href="#">Freelance services</a></li>
	<blockquote>
We love coding too!, so if you need to someone with experience, send us an email where you explain us what want you do and we will contact you.
	</blockquote>
</ul>
{% endblock %}

