{% extends "layout.html" %}
{% block body %}
<h2>Who are Grampus Team?</h2>
<blockquote>
We are a group of young coders and security enthusiasts. Our philosophy is very simple, we follow KISS principles and we love share our codes with you!
</blockquote>

<h2>Who are the members of the team?</h2>
<ul>
	<li><a href="https://twitter.com/SankoSK">Esteban Montes</a></li>
	<blockquote>
	Philosopher, Amateur pentester, Free Software lover and @GrampusTeam member. Young(17) autodidact, multiplatform programmer and Backend developer.
	</blockquote>
	<br>
	
	<li><a href="https://twitter.com/The_Pr0ph3t">Juan Broullón</a></li>
	<blockquote>
	17 years old independent security researcher and multiplatform developer. Grampus Team member.	</blockquote>
	<br>
	
	<li><a href="https://twitter.com/Overxfl0w">Overxfl0w</a></li>
	<blockquote>
	I prefer not describe myself
	</blockquote>
	<br>
	
	<li><a href="https://twitter.com/Don_Once">Once</a></li>
	<blockquote>
	Python, GNU/Linux y otras hierbas. Desarrollador de #Grampus. Amante de Arch y XFCE	</blockquote>
	<br>
	
	<li><a href="https://twitter.com/Kodeinfect">Kodeinfect</a></li>
	<blockquote>
	GNU/Linux, Android, IN/Seguridad Informática
	</blockquote>
</ul>

<h2>Don't judge us by our age</h2>
<blockquote>
We are young! not dummies! we love learning daily and we hope that you can taking us seriously, so, don't subestimate us or you will be hacked (mua ha ha ha)
</blockquote>
{% endblock %}
